<section id="about" class="container py-5">
  <h2 class="text-primary text-center fs-lg fw-bold my-5">About me</h2>
  <div class="bio">
    <div class="row d-flex justify-content-center my-5 pt-4 gap-4">
      <%= image_tag 'https://avatars.githubusercontent.com/u/101313329?v=4', class: 'col-12 col-lg-3 avatar-xl' %>
      <div class="col-12 col-lg-9 bio-content my-auto">
        <p class="fs-5 mb-4 text-success">I'm a <strong class="text-primary">Fullstack Developer</strong> specialized in <strong class="text-primary">Ruby on Rails</strong> and with a solid background in marketing and copywriting.</p>
        <p class="fs-5 my-auto text-success">I'm also a Yoga teacher and trekking passionate. I like to go camping and being in contact with nature whenever I can.</p>
      </div>
    </div>
    <div class="btn-box d-flex justify-content-center my-5 pt-3 gap-3 mx-auto">
      <%= link_to '/#projects', class: "btn-purple w-100" do %>
        <i class="fa-solid fa-code fs-5 me-2"></i> View my work
      <% end %>
      <%= link_to asset_path("resume.pdf"), target: '_blank', class: "btn-white w-100" do %>
        <i class="fa-solid fa-scroll fs-5 me-2"></i> View resume
      <% end %>
    </div>
  </div>
</section>
