<div class="project-card mx-auto">
  <%= image_tag 'karuna.png' %>
  <div class="project-info p-4">
    <div class="d-flex gap-2 mb-3">
      <%= image_tag 'https://cdn-icons-png.flaticon.com/512/5168/5168452.png', class: "logo-lg" %>
      <div>
        <p class="text-info fs-sm m-0"><small>Volunteering platform & Social network</small></p>
        <h5 class="text-primary m-0">Karuna</h5>
      </div>
    </div>
    <p class="fs-sm mb-4 text-info">Karuna is a volunteering platform built with Ruby on Rails and uses two Devise models. PG Search is used for a powerful and precise search functionality. Chatroom and messages using Action Cable and Redis. StimulusJS is used for handling Frontend behavior. </p>
    <h6 class="text-primary text-center">Technologies</h6>
    <ul class="logo-box d-flex p-0 justify-content-center flex-wrap gap-3 mx-auto my-4">
      <li class="logo-sm text-primary">
        <i class="devicon-ruby-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-rails-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-javascript-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-html5-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-css3-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-bootstrap-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-sass-original fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-postgresql-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-redis-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-webpack-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-heroku-original fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-figma-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-git-plain fs-28"></i>
      </li>
      <li class="logo-sm text-primary">
        <i class="devicon-github-original fs-28"></i>
      </li>
    </ul>
    <div class="d-flex justify-content-center gap-3 mt-5">
      <%= link_to 'Project link', 'https://karuna-app.herokuapp.com/', target: "_blank", class: "btn-purple fw-normal fs-sm py-2 px-3" %>
      <%= link_to 'Repository', 'https://github.com/felipecrubio/karuna', target: "_blank", class: "btn-white fw-normal fs-sm py-2 px-3" %>
    </div>
  </div>
</div>
