<section id="technologies">
  <div class="vh-50">
    <h2 class="text-primary text-center fs-1">Technologies</h2>
    <div class="logo-carousel">
      <ul class="">
        <li class="logo-carousel-item">
        </li>
      </ul>
    </div>
  </div>
</section>
