<section id="technologies" class="my-5">
  <h2 class="text-primary text-center fs-1">Technologies</h2>
  <div class="logo-carousel mx-auto p-3">
    <ul class="container d-flex p-0 justify-content-center flex-wrap gap-5 mt-5">
      <li class="hover text-center text-primary">
        <i class="devicon-ruby-plain fs-50"></i>
        <p class="m-0">Ruby</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-rails-plain fs-50"></i>
        <p class="m-0">Rails</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-javascript-plain fs-50"></i>
        <p class="m-0">JavaScript</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-react-original fs-50"></i>
        <p class="m-0">React</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-nextjs-original fs-50"></i>
        <p class="m-0">NextJS</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-nodejs-plain fs-50"></i>
        <p class="m-0">NodeJS</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-html5-plain fs-50"></i>
        <p class="m-0">HTML5</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-css3-plain fs-50"></i>
        <p class="m-0">CSS3</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-bootstrap-plain fs-50"></i>
        <p class="m-0">Bootstrap</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-sass-original fs-50"></i>
        <p class="m-0">Sass</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-postgresql-plain fs-50"></i>
        <p class="m-0">Postgre</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-mongodb-plain fs-50"></i>
        <p class="m-0">Mongo</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-redis-plain fs-50"></i>
        <p class="m-0">Redis</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-graphql-plain fs-50"></i>
        <p class="m-0">GraphQL</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-webpack-plain fs-50"></i>
        <p class="m-0">Webpack</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-git-plain fs-50"></i>
        <p class="m-0">Git</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-github-original fs-50"></i>
        <p class="m-0">GitHub</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-yarn-plain fs-50"></i>
        <p class="m-0">Yarn</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-heroku-original fs-50"></i>
        <p class="m-0">Heroku</p>
      </li>
      <li class="hover text-center text-primary">
        <i class="devicon-figma-plain fs-50"></i>
        <p class="m-0">Figma</p>
      </li>
    </ul>
  </div>
</section>
