.btn-purple {
  color: white;
  background-color: #6320e8;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  padding: 14px 24px;
  border-radius: 50px;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
    background-color: #7431f9;
    opacity: 1;
    scale: 1.05;
  }
}

.btn-white {
  color: $dark;
  background-color: white;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  padding: 14px 24px;
  border-radius: 50px;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $dark;
    opacity: 1;
    scale: 1.05;
  }
}

.btn-box {
  display: flex;
  gap: 4;
  max-width: 670px;
}

@media(max-width: 768px) {
  .btn-box {
    flex-direction: column;
    width: 100%;
  }

  .btn-purple, .btn-white {
    padding: 12px 24px;
  }
}
