.logo-box {
  max-width: 300px;
}

.logo-sm {
  z-index: 2;
}

.logo-md {
  width: 40px;
  height: 40px;
}

.logo-lg {
  width: 50px;
  height: 50px;
}

.logo-sm, .logo-md, .logo-lg {
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    scale: 1.2;
  }
}
