.navbar {
  justify-content: space-between;
  height: 90px;
  padding-right: 150px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-link {
  &:hover {
    color: $purple;
  }
}
