.fs-sm {
  font-size: 1rem;
}

.fs-md {
  font-size: 2rem;
}

.fs-lg {
  font-size: 4rem;
}

.fs-xl {
  font-size: 6rem;
}

.fs-50 {
  font-size: 50px;
}

@media(max-width: 768px) {
  .fs-lg {
    font-size: 3rem;
  }
}
