.fs-sm {
  font-size: 1rem;
}

.fs-md {
  font-size: 2rem;
}

.fs-lg {
  font-size: 4rem;
}

.fs-xl {
  font-size: 6rem;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-50 {
  font-size: 50px;
}

.hover {
  transition: all 0.2s ease-in-out;

  p {
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
    scale: 1.1;

    p {
      visibility: visible;
    }
  }
}

@media(max-width: 768px) {
  .fs-lg {
    font-size: 3rem;
  }
}
